.sw {
    max-width: 98vw;

    padding-top: 10px;

}

.lightm {
    background-color: white;
}

.darkm {
    background-color: rgb(11, 11, 11);
}



.swiper-wrapper {


    transition-timing-function: linear !important;
}

.swiper-slide {
    width: 60px;
    overflow: hidden;
    z-index: -1;




}

.swiper-slide img {
    width: 60px;

}

.container-info {
    max-width: 100vw;
    display: flex;
    justify-content: center;

}

.info {

    width: 500px;
    background-color: #583FBC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    /* z-index: 4; */

}

.info p {

    width: 400px;
    text-align: left;
    color: white;
    padding-left: 2vw;
    padding-right: 2vw;
}

@media screen and (max-width: 992px) {
    html {
        font-size: 12px;
    }



    .info {
        width: 100vw;
        border-radius: 0%;
    }

    .info p {
        min-width: 320px;
        position: static;
        text-align: center;
    }


    .container-info {
        min-width: 320px;
        flex-wrap: wrap;

    }

}