.about-info {
    margin-top: 70px;
    margin-right: 7vw;

}



.info1,
.info2,
.info3 {
    max-width: 450px;
    margin-top: 30px;

    border-radius: 10px;
    background-color: #D9DFF2;

    font-family: Montserrat;
    font-size: 12px;

    padding: 20px 20px;
    border: 2px solid #585F6F;
    color: #242A41;
}

.info1 {
    rotate: -2deg;
}

.info2 {
    rotate: 2deg;
}

.info3 {
    rotate: -2deg;
}

@media screen and (max-width: 992px) {
    html {
        font-size: 12px;
    }

    .info1,
    .info2,
    .info3 {
        min-width: 300px;
        margin-left: 6vw;

    }

    .about-info h2 {
        margin-left: 7vw;
    }


}